:root {
    --fuente: 'Roboto', sans-serif;

    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;

}

html {
    box-sizing: border-box; 
    font-size: 62.5%;
    font-family: var(--fuente);
    background-color: var(--Amarillo);
    
}

.cuerpoTexto {
    font-size: 12px;
}
.titulares {
    font-size: 24px;
}
.precios {
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripcion{
    font-size: 16px;
    font-weight: bold;
}

img {
    max-width:100%;
    width:auto;
    height:auto;
}
.burger-menu:hover{
    cursor: pointer;
}
.burger-menu{
    background-color: var(--Azul);
    padding:1rem 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 3%;
    text-align: center;
    border: none;
    margin-left: auto;
    margin-right: auto;
    
    
}

